<div class="container">
<span class="material-symbols-outlined on-hover" style="font-size: 20px;"> notifications</span>
<span class="material-symbols-outlined on-hover" style="font-size: 20px; margin-left: 40px;">person_add</span>
<span class="material-symbols-outlined on-hover" style="font-size: 20px; margin-left: 40px;">palette</span>
<span class="material-symbols-outlined on-hover" style="font-size: 20px; margin-left: 40px;">image</span>
<span class="material-symbols-outlined on-hover" style="font-size: 20px; margin-left: 40px;"> archive</span>
</div>