<div class="container">

    <div class="inner-container">
        <h1><span style="color: blue;">F</span><span style="color: red;">u</span><span style="color: orange;">n</span><span style="color: blue;">d</span><span style="color: green;">o</span><span style="color: red;">o</span></h1>
        <h3 id="hefont">Create Your Fundoo Account</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field id="nameSize" appearance="outline">
            <mat-label>First Name</mat-label>
             <input matInput placeholder="" formControlName="fn" />
            <mat-error>Enter first Name</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" id="custSize">
            <mat-label>last Name</mat-label >
            <input matInput placeholder="" formControlName="ln"/>
            <mat-error>Enter last Name</mat-error>
        </mat-form-field>
        <div style="margin-bottom: -1.5pc;">
            <mat-form-field appearance="outline" id="userSize">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="" formControlName="el" />
                <mat-error>enter email address</mat-error>    
            </mat-form-field>
        </div>
        <h5 style="margin-left: 10px;">You can use numbers, letters and period</h5>
        <button id="email-selector" style="border: none; background-color: inherit; margin-bottom: 20px;"><a href="#" style="font-weight: 500; text-decoration: none; padding: 5px; border-radius: 5px; color: rgb(34, 0, 255);">Use My Current Email Address Instead</a></button>
        <mat-form-field id="pasSize" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="" formControlName="pwd" type="password"/>
            <mat-error>enter password</mat-error>
        </mat-form-field>
            <mat-form-field id="conpasSize" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="" formControlName="cp" />
                <mat-error>enter conform password</mat-error>
            </mat-form-field>
        <section class="example-section">
            <mat-checkbox class="example-margin" style="margin-bottom: 20%;">Show Password</mat-checkbox>
        </section>
        <div class="final-container">
           <div>
                <a href="/register"></a>
               <a href="/login" id="butnSize">Sign in instead</a>
           </div>
            <div>
                <button mat-raised-button color="primary" id="btnNx">Next</button>
            </div>   
        </div>
    </form>  
    </div>
    <div>
        <figure style="text-align: center; margin-top: 100px;">
            <img height="244" width="244" id="img" src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="">
            <figcaption><p  id="textp">One account. All of Google working for you.</p></figcaption>
        </figure> 
    </div>
</div>
    