<div class="container">
    <div class="inner-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div><h1 style="text-align: center;"><span style="color: blue;">F</span><span style="color: red;">u</span><span style="color: orange;">n</span><span style="color: blue;">d</span><span style="color: green;">o</span><span style="color: red;">o</span></h1></div>
        <p style="text-align: center; font-size: 20px;">Sign in</p>
        <p style="text-align: center; font-size: 15px;">to continue to Fundoo</p>
           
           <mat-form-field style="width: 90%; margin-bottom:-1px;" appearance="outline">
               <mat-label>Email or Phone</mat-label>
               <input matInput placeholder="" formControlName="el"/>
            <mat-error>Enter email or phone number</mat-error>
           </mat-form-field>
           <mat-form-field style="width: 90%; margin-bottom:-1px;" appearance="outline">
               <mat-label>Password</mat-label>
               <input matInput placeholder="" formControlName="pwd" type="password" />
               <mat-error>Enter password</mat-error>
           </mat-form-field>   
           <div><a href="/forgot"><b style="color: blue; text-decoration:none ; margin-bottom: 5pc;">Forgot email</b></a></div><br><br>
           <p>Not your computer? Use Guest mode to sign in privately<a href="#"><div></div>Learn more</a></p>
       <div class="final-container">
           <div>
            <a href="/" style="text-decoration: none; color: rgb(30, 0, 255);">Create account</a>
           </div>
            <div>
                <button mat-raised-button color="primary" >Next</button>
            </div>  
        </div>
    </form>      
</div>
