<div class="container">

    <div class="inner-container">
     <div><h1 style="text-align: center;"><span style="color: blue;">F</span><span style="color: red;">u</span><span style="color: orange;">n</span><span style="color: blue;">d</span><span style="color: green;">o</span><span style="color: red;">o</span></h1></div>
     <p style="text-align: center; font-size: 20px;">Change password</p>
     <p style="text-align: center; font-size: 15px;">Create a strong password</p>
     <h4>Create a new strong password that you don't use for others</h4>
        <mat-form-field style="width: 90%; margin-bottom:-1px;" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password"> 
        </mat-form-field>
        <mat-form-field style="width: 90%; margin-bottom:-1px;" appearance="outline">
            <mat-label>conform password</mat-label>
            <input matInput placeholder="conform password" type="password">
        </mat-form-field>
    </div>
    <div class="final-container">
        <div>
         <a href="/" style="text-decoration: none; color: rgb(30, 0, 255);">Skip</a>
        </div>
         <div>
             <button mat-raised-button color="primary" >Save password</button>
         </div>   
     </div>
</div>

